.history
build/emscripten
build/linux
build/win32
src/third_party/micropython/ports/bare-arm/build
src/third_party/stm32_cubeide/Debug
src/third_party/stm32_truestudio/Debug
*.eez-project-ui-state
.settings/language.settings.xml
