.history
build/emscripten
build/linux
build/win32
build/win32-64bit
build/CMakeFiles
build/.cmake
build/CMakeCache.txt
src/third_party/micropython/ports/bare-arm/build
src/third_party/stm32_cubeide/Debug
src/third_party/stm32_cubeide/Debug (FPGA)
src/third_party/stm32_cubeide/Release
src/third_party/stm32_cubeide/.settings/language.settings.xml
scripts/Hello world - EEZ Flow

**/*.eez-project-ui-state
**/*.eez-project-runtime-settings
**/*.map

